.production {
    width: 100%;
    /* height: 100dvh; */
    margin: 0 auto;
    align-items: center;
}

.top-management-card button {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    background: #FF7A59;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.top-management-card button:hover {
    background: #d45a3b;
}