/* Container do card de scheduler */
.scheduler-card {
  background-color: #ffffff; /* Fundo branco */
  border-radius: 0.75rem;    /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden;          /* Evita que conteúdos vazem */
  margin-top: 1.5rem;        /* Espaço em cima */
}

/* Header do card */
.scheduler-card-header {
  cursor: pointer;
  padding: 0.25rem 1.5rem;
  border-bottom: 1px solid #e5e7eb; /* Linha de separação */
  background-color: #566c85;
}

.scheduler-card-header h3 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  color: #ffffff; /* Cinza escuro */
}

/* Área da tabela */
.scheduler-card-body {
  width: 100%;
  overflow-x: auto; /* Scroll horizontal se necessário */
  overflow-y: auto; /* Necessário para fixar o thead */
  max-height: 400px; /* Altura máxima do card */
}

/* Tabela */
.scheduler-card-body table {
  width: 100%;
  table-layout:auto;
  border-collapse: collapse;
}

.scheduler-card-body th,
.scheduler-card-body td {
  padding: 0.75rem;
  text-align: left;
  font-size: 0.875rem; /* 14px */
  color: #6b7280; /* Cinza */
  border-bottom: 1px solid #e5e7eb;
}

/* Cabeçalho */
.scheduler-card-body thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #f9fafb;
}

.scheduler-card-body p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 0;
}

/* Hover nas linhas */
.scheduler-card-body tbody tr:hover {
  background-color: #f3f4f6;
}

.scheduler-th-status-Processed button{
  color: #0b671f;
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: rgb(189, 241, 197);
}
.scheduler-th-status-Processing button{
  color: #845B18;
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: #FFF5BF;
}
.scheduler-th-status-Waiting button{
  color: #86261D;
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: #FCE3DE;
}

/* Responsividade */
@media (max-width: 768px) {
  .scheduler-card-body table {
    table-layout:auto;
  }
}
