.scheduler {
  width: 90%;
  /* height: 100dvh; */
  margin: 0 auto;
  align-items: center;
}

.toggle {
  position: relative;
  width: 120px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  font-family: sans-serif;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 40px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 13px;
  color: #444;
}

.slider .on,
.slider .off {
  width: 50%;
  text-align: center;
  pointer-events: none;
}

.slider::before {
  content: "";
  position: absolute;
  width: 48%;
  height: 34px;
  background: white;
  border-radius: 40px;
  top: 3px;
  left: 3px;
  transition: transform 0.3s ease;
  z-index: 1;
}

/* Quando ativado */
input:checked + .slider {
  background: #F47C48;
  color: white;
}

input:checked + .slider::before {
  transform: translateX(57px);
}
